<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.servlet.feedback.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.servlet.signup.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignuppageServlet</display-name>
    <servlet-name>SignuppageServlet</servlet-name>
    <servlet-class>com.servlet.signup.SignuppageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignuppageServlet</servlet-name>
    <url-pattern>/SignuppageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackformServlet</display-name>
    <servlet-name>FeedbackformServlet</servlet-name>
    <servlet-class>com.servlet.feedback.FeedbackformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackformServlet</servlet-name>
    <url-pattern>/FeedbackformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.servlet.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subscribeServlet</display-name>
    <servlet-name>subscribeServlet</servlet-name>
    <servlet-class>com.servlet.restaurant.subscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subscribeServlet</servlet-name>
    <url-pattern>/subscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveServlet</display-name>
    <servlet-name>ReserveServlet</servlet-name>
    <servlet-class>com.servlet.restaurant.ReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveServlet</servlet-name>
    <url-pattern>/ReserveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.servlet.admin.web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminNewServlet</display-name>
    <servlet-name>AdminNewServlet</servlet-name>
    <servlet-class>com.servlet.admin.web.AdminNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewServlet</servlet-name>
    <url-pattern>/AdminNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInsertServlet</display-name>
    <servlet-name>AdminInsertServlet</servlet-name>
    <servlet-class>com.servlet.admin.web.AdminInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertServlet</servlet-name>
    <url-pattern>/AdminInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListServlet</display-name>
    <servlet-name>AdminListServlet</servlet-name>
    <servlet-class>com.servlet.admin.web.AdminListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListServlet</servlet-name>
    <url-pattern>/AdminListServlet</url-pattern>
  </servlet-mapping>
</web-app>